.card {
    position: relative;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    background-size: cover;
  }
  
  .textContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(34,34,34,0)),to(#343434));
    background-image: -webkit-linear-gradient(top,rgba(34,34,34,0) 0,#343434 100%);
    background-image: linear-gradient(180deg,rgba(34,34,34,0) 0,#343434 100%);
  }
  
  .floatingButton {
    position: absolute;
    background-color: #565277;
    color: white;
    border-color: transparent;
    border-radius: 4px;
    top: 20px;
    right: 20px;
    z-index: 10;
    font-size: 0.75em;
    padding: 3px 5px 3px 5px; 
  }
  
  .date {
    font-size: 12px;
  }

  .title {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    margin-top: 10px;
  }

  .title2 {
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    margin-top: 10px;
  }

  .content {
    font-size: 14px;
    line-height: 30px;
  }

  .bg {
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-image: url("/images/bg-blog.jpg");
    background-size: inherit;
  }

  .blogTitle {
    font-size: 40px;
    color: #00a4ef;
    font-weight: bold;
  }